<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.commands">
        <command
            id="com.example.dbeaver.jinja.templater.command.render"
            categoryId="org.jkiss.dbeaver.core.sql"
            name="Jinja Variables / Preview"
            description="Manage cached Jinja variables and preview rendered SQL without changing editor text"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler
            commandId="com.example.dbeaver.jinja.templater.command.render"
            class="com.example.dbeaver.jinja.ui.TemplateRenderCommandHandler">
            <activeWhen>
                <reference definitionId="org.jkiss.dbeaver.core.ui.sql.editor.base"/>
            </activeWhen>
        </handler>

        <handler commandId="org.jkiss.dbeaver.ui.editors.sql.run.statement" class="com.example.dbeaver.jinja.ui.JinjaExecuteHandler">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.sql.editor.base"/></activeWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.editors.sql.run.statementNew" class="com.example.dbeaver.jinja.ui.JinjaExecuteHandler">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.sql.editor.base"/></activeWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.editors.sql.run.script" class="com.example.dbeaver.jinja.ui.JinjaExecuteHandler">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.sql.editor.base"/></activeWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.editors.sql.run.scriptFromPosition" class="com.example.dbeaver.jinja.ui.JinjaExecuteHandler">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.sql.editor.base"/></activeWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.editors.sql.run.scriptNew" class="com.example.dbeaver.jinja.ui.JinjaExecuteHandler">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.sql.editor.base"/></activeWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.editors.sql.run.count" class="com.example.dbeaver.jinja.ui.JinjaExecuteHandler">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.sql.editor.base"/></activeWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.editors.sql.run.expression" class="com.example.dbeaver.jinja.ui.JinjaExecuteHandler">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.sql.editor.base"/></activeWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.editors.sql.run.all.rows" class="com.example.dbeaver.jinja.ui.JinjaExecuteHandler">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.sql.editor.base"/></activeWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.editors.sql.run.explain" class="com.example.dbeaver.jinja.ui.JinjaExecuteHandler">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.sql.editor.base"/></activeWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.editors.sql.load.plan" class="com.example.dbeaver.jinja.ui.JinjaExecuteHandler">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.sql.editor.base"/></activeWhen>
        </handler>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image
            commandId="com.example.dbeaver.jinja.templater.command.render"
            icon="icons/jinja.png"/>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <key
            commandId="com.example.dbeaver.jinja.templater.command.render"
            contextId="org.jkiss.dbeaver.ui.editors.sql.script.focused"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+J"/>
    </extension>

    <extension point="org.eclipse.ui.menus">
        <menuContribution allPopups="false" locationURI="menu:SQLEditorMenu?after=query">
            <command
                commandId="com.example.dbeaver.jinja.templater.command.render"
                label="Jinja Variables / Preview"
                style="push">
                <visibleWhen checkEnabled="true"/>
            </command>
        </menuContribution>

        <menuContribution allPopups="false" locationURI="toolbar:org.jkiss.dbeaver.ui.editors.sql.toolbar.side.top?after=tools">
            <command
                commandId="com.example.dbeaver.jinja.templater.command.render"
                label="Jinja Variables / Preview"
                style="push">
                <visibleWhen>
                    <and>
                        <reference definitionId="org.jkiss.dbeaver.core.ui.sql.editor.base"/>
                        <test property="org.jkiss.dbeaver.ui.toolbar.configuration.visible"
                              args="sqlEditor.side.top,com.example.dbeaver.jinja.templater.command.render"/>
                    </and>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>

    <extension point="org.jkiss.dbeaver.sql.editorAddIns">
        <addIn
            id="com.example.dbeaver.jinja.templater.addin"
            class="com.example.dbeaver.jinja.ui.JinjaSQLEditorAddIn"
            priority="100"/>
    </extension>

    <extension point="org.jkiss.dbeaver.toolBarConfiguration">
        <toolBar key="sqlEditor.side.top">
            <item commandId="com.example.dbeaver.jinja.templater.command.render" defaultVisibility="true"/>
        </toolBar>
    </extension>
</plugin>
